<div class="main-content">
  <div class="container-fluid">
    <section class="well7">
      <div class="container">
          <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <h2 class="fw-l">
                      Sri Vikhanasa Ashramam, Hyderabad
                  </h2>
                  <!--<img class="" src="images/page-2_img01.jpg" alt="">-->
                  <p class="p__mod">
                      Sri Vikhanasa Ashramam is being built at Plot # 205, P&T colony, Kakatiya Hospital Road, Medipally, Hyderabad. This mile stone is getting achieved by all the support that we are receiving from our beloved vaikhanasa Bhandu’s. 
                      <br/><br/>
                      <img src="assets/img/ashramam/proposed.jpg" alt=""/>
                      <br/><br/>
                      Following are the work progress pics to Realize the above dream:
                      <br/>
                  </p>
                  <h4>
                      Building at initial state ... just after the ground floor slab
                  </h4>
                  <br/>
                  <div class="row text-center">
                      <div class="col-md-4 col-sm-4 col-xs-12">
                          <a class="thumb thumbnail2" data-fancybox-group="2" href="assets/img/ashramam/01.jpg">
                              <img src="assets/img/ashramam/01.jpg" alt=""/>

                              <span class="thumb_overlay"></span>
                          </a>
                      </div>

                      <div class="col-md-4 col-sm-4 col-xs-12">
                          <a class="thumb thumbnail2" data-fancybox-group="2" href="assets/img/ashramam/02.jpg">
                              <img src="assets/img/ashramam/02.jpg" alt=""/>

                              <span class="thumb_overlay"></span>
                          </a>
                      </div>
                  </div>
                  <h4>
                      Gruhapravesham
                  </h4>
                  <br/>
                  <div class="row text-center">
                      <div class="col-md-4 col-sm-4 col-xs-12">
                          <a class="thumb thumbnail2" data-fancybox-group="2" href="assets/img/ashramam/03.jpg">
                              <img src="assets/img/ashramam/03.jpg" alt=""/>

                              <span class="thumb_overlay"></span>
                          </a>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12">
                          <a class="thumb thumbnail2" data-fancybox-group="2" href="assets/img/ashramam/04.jpg">
                              <img src="assets/img/ashramam/04.jpg" alt=""/>

                              <span class="thumb_overlay"></span>
                          </a>
                      </div>

                      <div class="col-md-4 col-sm-4 col-xs-12">
                          <a class="thumb thumbnail2" data-fancybox-group="2" href="assets/img/ashramam/05.jpg">
                              <img src="assets/img/ashramam/05.jpg" alt=""/>

                              <span class="thumb_overlay"></span>
                          </a>
                      </div>                                
                  </div>
                  <div class="row text-center">                                
                      <div class="col-md-4 col-sm-4 col-xs-12">
                          <a class="thumb thumbnail2" data-fancybox-group="2" href="assets/img/ashramam/06.jpg">
                              <img src="assets/img/ashramam/06.jpg" alt=""/>

                              <span class="thumb_overlay"></span>
                          </a>
                      </div>
                  </div>
                  <br/>                        
              </div>
              
          </div>
      </div>
    </section>
  </div>
</div>

