<div class="main-content">
    <div class="container-fluid">
        <section class="well5">
            <div class="container">
                <h2 style="text-align: center;">
                    <img class="pageLogoSize" border="0" src="assets/img/common/Matrimony_Logo.png" alt="vaikhanasa Matrimony"> Vaikhanasa Matrimony 
                    <img class="pageLogoSize" border="0" src="assets/img/common/Matrimony_Logo.png" alt="vaikhanasa Matrimony">
                </h2>

                <br/><br/>
                <h5>
                    Dear Vaikhanasa Bhandhu,
                </h5>                
                <p>
                  We are glad to announce the formation of <b>Sri Vaikhnasa Vivaha Samachara Kendram</b> as a part of <b>Sri Vaikhanasa Maha Mandali</b> activities, that is intended to facilitate the matrimonial selection amongst our Vaikhanasas seeking marriage alliances.
                </p>                
                <p>
                    In this direction Sri Vaikhanasa Vivaha Samachara Kendram will be organizing Vivaha Parichaya Vedika's that will be informed timely on when and where they will be arranged. Please check the news page for the events to be organized by this samachara kendram.
                </p> 
                <marquee class='marqueBackColor' behavior="scroll" align="middle" direction="left" scrollamount=7>                    
                    <img class='marqueImage' src="assets\img\common\star1.gif"/><a href="#"> We are proud and happy to announce that 100 registrants got married via Sri Vaikhanasa Vivaha Paricheya Vedika services</a>
                    <img class='marqueImage' src="assets\img\common\star1.gif"/>
                </marquee>
                
                    <h6>Procedure for Participation in the Program:</h6> <br/>
                    <table class="table table-bordered table-condensed table-hover table-striped">
                        <tr><td>1.</td><td>Participation in the Paricheya Vedika is by Registration only.</td></tr>
                        <tr><td>2.</td><td>Download the application form <i class="downloadLink"><a href="assets/docs/vaikhanasa_marriage_application_telugu.pdf" download>here</a></i> or please find the PDF below to go through and download from there as well by clicking the save icon above PDF file.
                            </td>
                        </tr>
                        <tr><td>3.</td><td>Send the filled application attached with <b>bio-data and photo of the bride groom or bride </b>along with Registration fee of RS 100 to Shriman. P. Gopala Krishna garu</td></tr>
                        <tr><td>4.</td><td>Visit the Paricheya Vedika and pay participation fee of Rs 500.</td></tr>
                        <tr><td>5.</td><td>Information about available prospective Bride grooms and Brides along with their details will be shared with the participants</td></tr>                   
                    </table>
                    <br/>
                    <h6>For details Contact details </h6><br/>
                    <table class="table table-bordered table-condensed table-hover table-striped">
                        <tr>
                            <td></td>
                            <td><b>Name</b></td>
                            <td><b>Designation</b></td>
                            <td><b>Mobile</b></td>
                            <td><b>Email</b></td>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>P. Gopala Krishna</td>
                            <td>Convener</td>
                            <td>9290492262</td>
                            <td>peddinti.krishna1956@gmail.com</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>T. Vikhanasa Charyulu</td>
                            <td>Chief Advisor</td>
                            <td>9885304787</td>
                            <td>vikhanasacharyulu@gmail.com</td>
                        </tr>
                    </table>
                
                <br/><br/>
                <p>
                    8th Vivaha Paricheya Vedika will be held at 2pm on 31/Mar/2019(Sunday) at Sri Vikhanasa Ashramam, Plotno.205, Road No.2, P&T colony, Kakatiya Hospital road, Medipally, Hyderabad. All the applicants need to send in their details before hand to P.Gopala Krishna garu or T.Vikhanasa Charyulu garu (phone number and email are available above)
                </p>
                <br/><br/>               
                <p>
                    <b> Details of all the paricheya vedikas conducted till now </b><br/>
                    1. First of this parichaya vedika is being arranged at our Ashramam building in the month of Feb-2016, please utilise the opportunity.
                    <br/>
                    2. Second vivaha paricheya vedika by Sri Vaikhanasa Vivaha Samachara Kendram was held on 08/May/2016 at Sri Vaikhanasa Ashramam, Hyderabad.
                    <br/>
                    3. After receiving the tremendous response as part of the first and second vivaha paricheya vedika's, Sri Vaikhanasa Vivaha Samachara Kendram is filled with more enthusiasm to organize its third paricheya vedika on 24/July/2016 at Sri VenuGopalaSwamy Temple, Rajahmundry with the help of Rajahmundry Vaikhanasa Society.  
                    <br/>
                    4. 4th Vivaha Paricheya Vedika was held on 29/Jan/2017 at Sri Vikhanasa Ashramam, Plotno.205, Road No.2, P&T colony, Kakatiya Hospital road, Medipally, Hyderabad.
                    <br/>
                    5. 5th Vivaha Paricheya Vedika was held on 30/Apr/2017 at Sri Vikhanasa Ashramam, Plotno.205, Road No.2, P&T colony, Kakatiya Hospital road, Medipally, Hyderabad.
                    <br/>
                    6. 6th Vivaha Paricheya Vedika was held on 24/Dec/2017 at Sri Vikhanasa Ashramam, Plotno.205, Road No.2, P&T colony, Kakatiya Hospital road, Medipally, Hyderabad.
                    <br/>
                    7. 7th Vivaha Paricheya Vedika was held on 30/Sep/2018(Sunday) at Sri Vikhanasa Ashramam, Plotno.205, Road No.2, P&T colony, Kakatiya Hospital road, Medipally, Hyderabad.
                </p> 
                <br/>
                <embed src="assets/docs/vaikhanasa_marriage_application_telugu.pdf" width="800px" height="2300px">               
            </div>
        </section>        
    </div>
</div>

