<div class="main-content">
  <div class="container-fluid">
    <section class="well5 bg-alt">
        <div class="container">
            <h4 class="textCenter">Sravana Poornima 2019 Celebrations </h4><br/>
            <h6 class="floatLeft"> హైదరాబాద్ లోని శ్రీవిఖనస ఆశ్రమంలో శ్రీవిఖనస జయంతి ఘనంగా నిర్వహించారు. ఈ సందర్భంగా శ్రీ వైఖానస మహా మండలి, హైదరాబాద్ వారు వైఖనసాగమ మహదాచార్య వైఖనసాగమ వాచస్పతి, ఆగమశిరోమణి సహస్రాధిక ప్రతిష్టాపనాచార్య, సింహతలాట గ్రహీత శ్రీమాన్ పెద్దింటి వెంకట లక్ష్మీనృసింహాచార్యులు, కాపీలేశ్వరపురం వారిని ఘన్నంగా సత్కరించారు.</h6><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages07"></ngx-gallery><br/><br/>
            <h6 class="floatLeft"> విజయవాడ లబ్బీపేట లోగల శ్రీ వేంకటేశ్వర స్వామి వారి ఆలయంలో శ్రీ విఖనస జయంతి సందర్భంగా విశిష్ట అతిథిగా పాల్గొన్న శ్రీమాన్ అగ్నిహోత్రం ఆత్రేయబాబు దంపతులు వారిని సమ్మానిస్తున్న విఖనస సేవా సంఘం విజయవాడ </h6><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages08"></ngx-gallery><br/><br/>
            <h6 class="floatLeft"> శ్రీవైఖనసా సేవాసంఘ్ ము తినాలిలో శ్రీ స్వామి జయంతి ఘనంగా జరిగింది వైఖనసా ఆగమ పండితులు శ్రీ పెద్దింటి అనిల్ కుమార్ గారిని సతీసమేతంగా సన్మానించారు </h6><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages09"></ngx-gallery><br/><br/>
            <h6 class="floatLeft"> శ్రీ వైఖానస మహా మండలి గుంటూరు</h6><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages10"></ngx-gallery><br/><br/>
            <h6 class="floatLeft"> వైఖానస సంఘం వైజాగ్.1 ఉత్తరాంధ్ర </h6><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages11"></ngx-gallery><br/><br/>
            <h6 class="floatLeft"> N.L.R.జిల్లాలో ఇందుకూరుపెటలో శ్రీలక్ష్మీనరసింహస్వామిఆలయంలో వెైఖానస జయంతి ఘనంగా జరిగింది </h6><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages12"></ngx-gallery><br/><br/>
            <h6 class="floatLeft"> విశాఖ శ్రీ శారదా పీఠ పాలిత ఫిలింనగర్ దైవసన్నిధానంలో శ్రావణ పౌర్ణమి "శ్రీ విఖనస జయంతి" సందర్భముగా జరిగిన పండిత సన్మాన సభలో ప్రముఖ ఆయుర్వేద వైద్యులు శ్రీమాన్ గంజాం కృష్ణ ప్రసాద్ గారిని "ఆయుర్వేద వైద్య విద్వన్మణి" అను బిరుదుతో 
                    సన్మానించడమైయినది. </h6><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages13"></ngx-gallery><br/><br/>           
        </div>
    </section>

    <section class="well5 bg-primary">
        <div class="container">
            <h4 class="textCenter">Sravana Poornima 2018 - at Sri Vikhanasa Ashramam, Hyderabad </h4><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages01"></ngx-gallery>            
        </div>        
    </section>

    <section class="well5 bg-alt">
        <div class="container">
            <h4 class="textCenter">Sravana Poornima 2018 - at Guntur Sri Vaikhanasa Maha Mandali </h4><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages02"></ngx-gallery>
        </div>
    </section>

    <section class="well5 bg-primary">
        <div class="container">
            <h4 class="textCenter">Kartheeka VanaSamaradhana 2015 - at our Sri Vikhanasa Ashramam, Hyderabad </h4><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages03"></ngx-gallery>
        </div>
    </section>

    <section class="well5 bg-alt">
        <div class="container">
            <h4 class="textCenter">Sravana Pournima 2015 - First function at our Sri Vikhanasa Ashramam, Hyderabad </h4><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages04"></ngx-gallery>
        </div>
    </section> 

    <section class="well5 bg-primary">
        <div class="container">
            <h4 class="textCenter">Vaikhanasa Vivaha Paricheya Vedika - at our Sri Vikhanasa Ashramam, Hyderabad </h4><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages05"></ngx-gallery>
        </div>
    </section>

    <section class="well5 bg-alt">
        <div class="container">
            <h4 class="textCenter">Vaikhanasa Vivaha Paricheya Vedika 3 - at Rajahmundry </h4><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages06"></ngx-gallery>
        </div>
    </section>

  </div>
</div>
