<div class="main-content">
  <div class="container-fluid">
    <section class="well5 bg-primary">
        <div class="container">
            <h4 class="textCenter">Sravana Poornima 2018 - at Sri Vikhanasa Ashramam, Hyderabad </h4><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages01"></ngx-gallery>            
        </div>
        
    </section>
    <section class="well5 bg-alt">
        <div class="container">
            <h4 class="textCenter">Sravana Poornima 2018 - at Guntur Sri Vaikhanasa Maha Mandali </h4><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages02"></ngx-gallery>
        </div>
    </section>
    <section class="well5 bg-primary">
        <div class="container">
            <h4 class="textCenter">Kartheeka VanaSamaradhana 2015 - at our Sri Vikhanasa Ashramam, Hyderabad </h4><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages03"></ngx-gallery>
        </div>
    </section>
    <section class="well5 bg-alt">
        <div class="container">
            <h4 class="textCenter">Sravana Pournima 2015 - First function at our Sri Vikhanasa Ashramam, Hyderabad </h4><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages04"></ngx-gallery>
        </div>
    </section>                
    <section class="well5 bg-primary">
        <div class="container">
            <h4 class="textCenter">Vaikhanasa Vivaha Paricheya Vedika - at our Sri Vikhanasa Ashramam, Hyderabad </h4><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages05"></ngx-gallery>
        </div>
    </section>
    <section class="well5 bg-alt">
        <div class="container">
            <h4 class="textCenter">Vaikhanasa Vivaha Paricheya Vedika 3 - at Rajahmundry </h4><br/>
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages06"></ngx-gallery>
        </div>
    </section>
  </div>
</div>
