<div class="main-content">
  <div class="container-fluid">
    <section class="well7">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h2 class="fw-l">
                        Sri Vaikhanasa Maha Mandali, Hyderabad
                    </h2>
                    <br/>
                    <h3 class="ttu center fw-1">
                        Maha Mandali Working Comittee
                    </h3>
                    <p class="p__mod">
                        Vaikhanasa Maha Mandali elects its governing body by elections and the elected body will be handling their roles and responsibilities.                            
                    </p>
                    <h4 class="ttu">
                        Current Working Comittee
                    </h4>
                    <br/>
                    
                    <table id="wcGrid01" class="table table-bordered table-condensed table-hover table-striped">
                      <tr>
                          <th></th>
                          <th>NAME</th>
                          <th>POSITION</th>
                          <th>PHONE</th>
                      </tr>
                      <tr *ngFor="let wcm of wcMembers02">
                        <th><img class='contactImage' src={{wcm.IMAGE}}/></th>
                        <th>{{wcm.NAME}}</th>
                        <th>{{wcm.POSITION}}</th>
                        <th>{{wcm.PHONE}}</th>
                      </tr>
                    </table>
                    <br/><br/>
                    <h4 class="ttu">
                        Current Working Comittee for 2014-2016
                    </h4>
                    <br/>
                    
                    <table id="wcGrid01" class="table table-bordered table-condensed table-hover table-striped">
                      <tr>
                          <th></th>
                          <th>NAME</th>
                          <th>POSITION</th>
                          <th>PHONE</th>
                      </tr>
                      <tr *ngFor="let wcm of wcMembers01">
                        <th><img class='contactImage' src={{wcm.IMAGE}}/></th>
                        <th>{{wcm.NAME}}</th>
                        <th>{{wcm.POSITION}}</th>
                        <th>{{wcm.PHONE}}</th>
                      </tr>
                    </table>  

                </div>                    
            </div>
        </div>
    </section>
  </div>
</div>
