<div class="main-content">
    <div class="container-fluid">
        <section class="well3">
            <div class="container center767">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2 style="text-align: center;">
                            News & Notifications 
                        </h2>
                        <br/>                       
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-5 col-xs-12">
                        <div class="thumbnail3">
                            <img src="assets/img/acharya_01.jpg" alt=""/>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-7 col-xs-12">
                        <article>
                            <time class="ff__mod" datetime="2015-01-01">12/08/2022</time>
                            <h4 class="ttu ff__mod"><a href="#">Sravana Pournami Sri Vaikhanasa Jayanthi Aahvanam - Sri Vaikhanasa Maha Mandali, Hyderabad</a></h4>

                            <p class="ff__mod p__mod">Dear Vikhanasa Bandu's, Sri Vaikhanasa Maha Mandali, Hyderabad is planning to celebrate Sravana pournami & Sri Vikhanasa Maharshi Jayanthi utsavam on 12/August/2022 at <b>Sri Vikhanasa Ashramam, Plotno.205, P&T colony, Kakatiya Hospital road, Medipally, Hyderabad </b>.</p><br/>                            
                            <br/>
                            <embed src="assets/news/invitations/SravanaPoornima2022/SravanaPoornima_2022.pdf" width="600px" height="800px">
                        </article>
                    </div>                    
                </div>
                <br /><br />

                <div class="row">
                    <div class="col-md-3 col-sm-5 col-xs-12">
                        <div class="thumbnail3">
                            <img src="assets/img/acharya_01.jpg" alt=""/>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-7 col-xs-12">
                        <article>
                            <time class="ff__mod" datetime="2015-01-01">22/08/2021</time>
                            <h4 class="ttu ff__mod"><a href="#">Sravana Pournami Sri Vaikhanasa Jayanthi Aahvanam - Vaikhanasa Youth Forum, Andhra Pradesh</a></h4>

                            <p class="ff__mod p__mod">Dear Vikhanasa Bandu's, Vaikhanasa Youth Forum, Andhra Pradesh is planning to celebrate Sravana pourmani Sri Vikhanasa Maharshi Jayanthi celebrations are planned on 22/August/2021 at Sri Dhanvantari Trust Bhavan, Vanukuru.</p><br/>                            
                            <br/>
                            <div>
                                <video width="500" height="400" controls>
                                    <source src="assets/news/invitations/APYouthForum-SravanaPournima2021/SravanaPournami2021.mp4" type="video/mp4">
                                </video>   
                            </div>
                            <br/>
                            <embed src="assets/news/invitations/APYouthForum-SravanaPournima2021/AP_Youth_Forum_Sravana_Pournami_Celebration.pdf" width="600px" height="800px">
                        </article>
                    </div>
                    <div>
                        <img src="assets/news/invitations/SravanaPoornima2018/SravanaPoornima_2018.jpeg" alt=""/>
                    </div>                    
                </div>
                <br /><br />

                <div class="row">
                    <div class="col-md-3 col-sm-5 col-xs-12">
                        <div class="thumbnail3">
                            <img src="assets/img/greetings/KartheekaVanaSamaradhana.jpg" alt="" style="width: 250px"/>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-7 col-xs-12">
                        <article>
                            <time class="ff__mod" datetime="2015-01-01">17/11/2016</time>
                            <h4 class="ttu ff__mod"><a href="#">Kartheeka Vana Samaradhana</a></h4>

                            <p class="ff__mod p__mod">Dear Vikhanasa Bandu's, this years kartheeka vana samaradhana is planned to be organized at our <b>Sri Vikhanasa Ashramam, Plotno.205, P&T colony, Kakatiya Hospital road, Medipally, Hyderabad </b> by our Sri Vaikhanasa Maha Mandali. <br/>
                            We welcome all our beloved vaikhanasa bandhu's to do join this event and make it a grand success. 
                            </p>
                            <br/><br/>
                            <embed src="assets/news/invitations/KartheekaVanaSamaradhana2019/KartheekaVanaSamaradhana2019.pdf" width="600px" height="800px">
                        </article>
                    </div>                    
                </div>
                <br /><br />

                <div class="row">
                    <div class="col-md-3 col-sm-5 col-xs-12">
                        <div class="thumbnail3">
                            <img src="assets/img/common/Matrimony_Logo.png" alt=""/>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-7 col-xs-12">
                        <article>
                            <time class="ff__mod" datetime="2015-01-01">20/10/2019</time>
                            <h4 class="ttu ff__mod"><a href="#">Sri Vaikhanasa Vivaha Paricheya Vedika - 09 @ Hyderabad</a></h4>
                            <p class="ff__mod p__mod">Dear Vikhanasa Bandu's, Sri Vaikhanasa Vivaha Samachara Kendram is organizing its ninth paricheya vedika on 20/Oct/2019 from 2pm onwards @ Vikhanasa Ashramam, Plotno.205, P&T colony, Kakatiya Hospital road, Medipally. </p>
                            <p> Please get the details required to attend this event at <a href="http://www.manavaikhanasam.com/#/matrimony">Vaikhanasa matrimony Page></a>                           
                            <br/>
                            For registering your children details please contact the below persons</p>
                            <table>                                
                                <tr style="font-weight: bold; text-align: center;"><td>Name</td><td>Mobile</td></tr>
                                <tr><td>Peddinti GopalaKrishna</td><td>9290492262</td></tr>
                                <tr><td>Tamirisa VikhanasaCharyulu</td><td>9885304787</td></tr>                                
                            </table>                            
                        </article>
                    </div>                    
                </div>
                <br /><br />
                        
                <div class="row">
                    <div class="col-md-3 col-sm-5 col-xs-12">
                        <div class="thumbnail3">
                            <img src="assets/img/acharya_01.jpg" alt=""/>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-7 col-xs-12">
                        <article>
                            <time class="ff__mod" datetime="2015-01-01">26/08/2018</time>
                            <h4 class="ttu ff__mod"><a href="#">Sravana Pournami Sri Vaikhanasa Jayanthi Celebrations</a></h4>

                            <p class="ff__mod p__mod">Dear Vikhanasa Bandu's, this years sravana pourmani Sri Vikhanasa Maharshi Jayanthi celebrations are planned to be organized in our Sri Vikhanasa Ashramam, Plotno.205, P&T colony, Kakatiya Hospital road, Medipally, Hyderabad. Also Sravana Upakarma will be performed for all the vatu's on this day. Vaikhanasa Bhandu's who want to utilize this upakarma need to inform below people on or before 20/08/2018 (Monday).</p><br/>                            
                            <table>                                
                                <tr style="font-weight: bold; text-align: center;"><td>Sno</td><td  style="width:200px">Name</td><td>Mobile</td></tr>
                                <tr><td>1</td><td>Deevi Sarangapani Iyyengar</td><td>9848072382</td></tr>                                
                                <tr><td>2</td><td>Peddinti GopalaKrishna</td><td>9290492262</td></tr>
                                <tr><td>3</td><td>Deevi Surendra Bhishak</td><td>9177306144</td></tr>
                                <tr><td>4</td><td>Tamirisa VikhanasaCharyulu</td><td>9885304787</td></tr>                                
                            </table>
                            <br/><br/>
                            <embed src="assets/news/invitations/SravanaPoornima2018/SravanaPoornima_2018.pdf" width="600px" height="800px">
                        </article>
                    </div>
                    <div>
                        <img src="assets/news/invitations/SravanaPoornima2018/SravanaPoornima_2018.jpeg" alt=""/>
                    </div>                    
                </div>
                <br /><br />

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <article>
                            <time class="ff__mod" datetime="2015-01-01">05/11/2017</time>
                            <h4 class="ttu ff__mod"><a href="#">Kartheeka Vana Samaradhana Mahotsavam - 2017 @ Hyderabad</a></h4>
                            <p class="ff__mod p__mod">Dear Vikhanasa Bandu's, This year kartheeka vana samardhana mahotsavam will be held @ Vikhanasa Ashramam, Plotno.205, P&T colony, Kakatiya Hospital road, Medipally. </p>
                        </article>
                        <embed src="assets/news/invitations/KartheekaVanaSamaradhana2017/Kartheeka_Vana_Samaradhana_2017.pdf" width="800px" height="2300px">
                    </div>                    
                </div>
                <br /><br />

                <div class="row">
                    <div class="col-md-3 col-sm-5 col-xs-12">
                        <div class="thumbnail3">
                            <img src="assets/img/Usiri.jpg" alt=""/>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-7 col-xs-12">
                        <article>
                            <time class="ff__mod" datetime="2015-01-01">20/11/2016</time>
                            <h4 class="ttu ff__mod"><a href="#">Kartheeka Vana Samaradhana</a></h4>

                            <p class="ff__mod p__mod">Dear Vikhanasa Bandu's, this years kartheeka vana samaradhana is planned to be organized at our <b>Sri Vikhanasa Ashramam, Plotno.205, P&T colony, Kakatiya Hospital road, Medipally, Hyderabad </b> by our Sri Vaikhanasa Maha Mandali. <br/>
                            We welcome all our beloved vaikhanasa bandhu's to do join this event and make it a grand success. 
                            </p>
                        </article>
                    </div>                    
                </div>
                <br /><br />
                
                <div class="row">
                    <div class="col-md-3 col-sm-5 col-xs-12">
                        <div class="thumbnail3">
                            <img src="assets/img/acharya_01.jpg" alt=""/>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-7 col-xs-12">
                        <article>
                            <time class="ff__mod" datetime="2015-01-01">18/08/2016</time>
                            <h4 class="ttu ff__mod"><a href="#">Sravana Pournami Sri Vaikhanasa Jayanthi Celebrations</a></h4>

                            <p class="ff__mod p__mod">Dear Vikhanasa Bandu's, this years sravana pourmani Sri Vikhanasa Maharshi Jayanthi celebrations are planned to be organized in our Sri Vikhanasa Ashramam, Plotno.205, P&T colony, Kakatiya Hospital road, Medipally, Hyderabad. Also Sravana Upakarma will be performed for all the vatu's on this day from 8am, Vaikhanasa Bhandu's who want to utilize this upakarma need to inform below people on or before 12/08/2016 (Friday).</p><br/>                            
                            <table>                                
                                <tr style="font-weight: bold; text-align: center;"><td>Sno</td><td  style="width:200px">Name</td><td>Mobile</td></tr>
                                <tr><td>1</td><td>Deevi Sarangapani Iyyengar</td><td>9848072382</td></tr>                                
                                <tr><td>2</td><td>Peddinti GopalaKrishna</td><td>9290492262</td></tr>
                                <tr><td>3</td><td>Tamirisa VikhanasaCharyulu</td><td>9885304787</td></tr>                                
                                <tr><td>4</td><td>Rompicherla Murali Krishna</td><td>9550251037</td></tr>
                            </table>
                            <p> Also shortly program full details will be uploaded on site.</p>
                        </article>
                    </div>
                    <div>
                        <img src="assets/news/invitations/SravanaPournima2016/01.jpg" alt=""/>
                        <img src="assets/news/invitations/SravanaPournima2016/02.jpg" alt=""/>
                    </div>                    
                </div>
                <br /><br />

                <div class="row">                   

                    <div class="col-md-3 col-sm-5 col-xs-12">
                        <div class="thumbnail3">
                            <img src="assets/news/25042016.jpg" alt=""/>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-5 col-xs-12">
                        <article>
                            <time class="ff__mod" datetime="2015-01-01">25/04/2016</time>
                            <p class="ff__mod p__mod">Proud moment for we vaikhanasas: <br/><br/>
                                Sriman Nalluri Vikhanasa Bhattacharyulu and Sriman Nalluri Dasaradhi Deekshitulu blessing Chandrababu Naidu at his new office 
                            </p>   
                        </article>
                    </div>
                    
                </div>

            </div>
        </section>
    </div>
</div>