<div class="main-content">
  <div class="container-fluid">
      <section class="well5">
          <div class="container">
              <h2 style="text-align: center;">
                  Vaikhanasa Purohitulu                     
              </h2>
              <br/>
              <div>
                  <h5 class="textCenter ">
                      Below the list of vaikanasa purohit's who perform yaagnikam
                  </h5>
                  <div>
                      <table ng-table="yaagnikamTable" show-filter="true" class="table table-striped table-hover table-bordered table-responsive">
                        <tr>
                            <th>NAME</th>
                            <th>RESIDENCE</th>
                            <th>MOBILE</th>
                            <th>LANDLINE</th>
                        </tr>
                          <tr *ngFor="let user of yaagnikamList | paginate: { itemsPerPage: 10, currentPage: p, id: 'p' }">
                              <td data-title="'NAME'" filter="{ 'Name': 'text' }">{{user.prefix}} {{user.Surname}} {{user.Name}}</td>
                              <td data-title="'RESIDENCE'" filter="{ 'Place': 'text' }">{{user.Place}}</td>    
                              <td data-title="'MOBILE'" filter="{ 'Mobile': 'text' }">{{user.Mobile}}</td>
                              <td data-title="'LANDLINE'" filter="{ 'LandLine': 'text' }">{{user.LandLine}}</td>                            
                          </tr>
                      </table>
                      <pagination-controls (pageChange)="p = $event" id="p" class="pagination-list pagination-bottom"></pagination-controls>                                                       
                  </div>
              </div>
              <div>
                  <br/><br/>
                  <h5 class="textCenter textUnderline">
                      Below the list of vaikanasa purohit's who perform aparam
                  </h5>
                  <div>
                      <table ng-table="aparamTable" show-filter="true" class="table table-striped table-hover table-bordered table-responsive">
                          <tr>
                              <th>NAME</th>
                              <th>RESIDENCE</th>
                              <th>MOBILE</th>
                              <th>LANDLINE</th>
                          </tr>
                          <tr *ngFor="let user of aparamList | paginate: { itemsPerPage: 10, currentPage: q, id: 'q' }">
                              <td data-title="'NAME'" filter="{ 'Name': 'text' }">{{user.prefix}} {{user.Surname}} {{user.Name}}</td>
                              <td data-title="'RESIDENCE'" filter="{ 'Place': 'text' }">{{user.Place}}</td>    
                              <td data-title="'MOBILE'" filter="{ 'Mobile': 'text' }">{{user.Mobile}}</td>
                              <td data-title="'LANDLINE'" filter="{ 'LandLine': 'text' }">{{user.LandLine}}</td>                            
                          </tr>
                            <pagination-controls (pageChange)="q = $event" id="q" class="pagination-list pagination-bottom"></pagination-controls>                            
                      </table>
                      
                  </div>
              </div>
          </div>
      </section>
  </div>
</div>
