<div class="main-content">
    <div class="container-fluid">
        <section>
            <marquee class='marqueBackColor' behavior="scroll" align="middle" direction="left" scrollamount=7 onmouseover="this.stop()" onmouseout="this.start()">
                <img class='marqueImage' src="..\assets\img\star1.gif"/><a href="http://www.manavaikhanasam.com/Vaikhanasa_Matrimony.html"> Sri Vaikhanasa Vivaha Paricheya Vedika - 08 will be held on 31-March-2019 at Sri Vikhanasa Ashramam, Hyderabad</a>
                <img class='marqueImage' src="..\assets\img\star1.gif"/><a href="http://www.manavaikhanasam.com/Vaikhanasa_Matrimony.html"> We are proud and happy to announce that 100 registrants got married using Sri Vaikhanasa Vivaha Paricheya Vedika services</a>
                <img class='marqueImage' src="..\assets\img\star1.gif"/><a href="http://www.manavaikhanasam.com/Vaikhanasa_Purohitulu.html"> Now launching list of Vaikhanasa Purohits list </a>
                <img class='marqueImage' src="..\assets\img\star1.gif"/><a href="http://www.manavaikhanasam.com/Documents.html"> Now english version of the matrimony application is also available under downloads tab</a>
                <img class='marqueImage' border="0" src="images/mysite/common/phone_book_edit.png"><a href="http://www.manavaikhanasam.com/directory.html">Launching Online Vaikhanasa Directory</a>
                <img class='marqueImage' border="0" src="images/mysite/common/Matrimony_Logo.png"><a href="http://www.manavaikhanasam.com/Vaikhanasa_Matrimony.html">Launching Vaikhanasa Matrimony Services</a>
                <img class='marqueImage' src="..\assets\img\star1.gif"/><a href="http://www.manavaikhanasam.com/ashramam-donors.html">Hyderabad Vaikhanasa Ashramam Donors List</a> 
                <img class='marqueImage' src="..\assets\img\star1.gif"/>
            </marquee>
        </section>
        <section class="bg-primary">
            <div class="center767 homePageSectionPadding">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12 text-center md-add">
                        <img src="../assets/img/acharya_01.jpg" alt=""/>
                        <h2 class="ttu">Welcome!</h2>

                        <p class="p__mod">Welcome to Mana Vaikhanasam serving the needs of the our vaikhanasa community. As name reflects "Mana" meaning our, we are here to serve our own community for better tommorow.</p>
                        <!--<a href="#" class="btn btn-primary">Click here</a>-->
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12 border-add md-add">                        
                        <marquee class='' behavior="scroll" direction="up" scrollamount=10 onmouseover="this.stop()" onmouseout="this.start()">
                            <h2 class="ttu">News !!!</h2>
                            <p class="ff__mod p__mod">
                                ప్రియ వైఖానస బంధువులకు విజ్ఞప్తి , 
                                <br/>
                                కరీంనగర్ లో యజ్ఞవరాహ స్వామి వారి దేవాలయానికి వైఖానస అర్చకులు కావలెను.
                                16,000 జీతం, నివాసానికి ఆలయప్రాంగణంలో మంచి సౌకర్యములుతో చక్కని ఇల్లు ఇవ్వబడును.
                                <br/>
                                ఈ దేవాలయానికి మంచి ట్రస్ట్ ఏర్పాటు అయింది. వైఖానస అర్చకులు ఎవరైనా శ్రద్ధతో మనసు పెట్టి కష్టపడితే మంచి ఆదాయంతోపాటు మంచి పరిచయాలు దక్కుతాయి. 
                                <br/>
                                వంటస్వామి ఉన్నారు ప్రసాదాలకు ఇబ్బంది లేదు.
                                <br/>
                                మీలో ఎవరైనా చేరదలస్తే ఈ నెంబర్ కి 9959277577 ఫోన్ చెయ్యగలరు -పేరు శ్రీభాష్యం వరప్రసాద్
                                <br/>
                                www.facebook.com/YagnaVaraha
                            </p>
                            <p class='homePageBottomBorder'></p>
                            <p class="ff__mod p__mod">
                                Updated till date received user images under Sri Vaikhanasa Directory <a href="directory.html">Vaikhanasa Directory</a> 
                                <br/>Dear Vaikhanasa can always send me their user images at seshu.manavaikhanasam@gmail.com with their Complete name as mentioned in Directory. 

                                New User can send all the required details along with their image now.
                            </p>                                                        
                            <p class='homePageBottomBorder'></p>
                        </marquee>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>