<div class="main-content">
    <div class="container-fluid">
        <section>
            <marquee class='marqueBackColor' behavior="scroll" align="middle" direction="left" scrollamount=7 onmouseover="this.stop()" onmouseout="this.start()">
                <img class='marqueImage' src="../assets/img/common/star1.gif"/><a href="http://www.manavaikhanasam.com/#/news"> Kartheeka Vana Samaradhana 2022 on 20/Nov/2022 - Sri Vaikhanasa Maha Mandali, Hyderabad </a>
                <img class='marqueImage' src="../assets/img/common/star1.gif"/><a href="http://www.manavaikhanasam.com/#/purohitulu"> Vaikhanasa Purohits list </a>
                <img class='marqueImage' src="../assets/img/common/star1.gif"/><a href="http://www.manavaikhanasam.com/#/documents"> English version of the matrimony application available for download</a>
                <img class='marqueImage' src="../assets/img/common/phone_book_edit.png"><a href="http://www.manavaikhanasam.com/#/directory">Online Vaikhanasa Directory</a>
                <img class='marqueImage' src="../assets/img/common/star1.gif"/><a href="http://www.manavaikhanasam.com/#/hydAshramamDonors">Hyderabad Vaikhanasa Ashramam Donors List</a> 
                <img class='marqueImage' src="../assets/img/common/star1.gif"/>
            </marquee>
        </section>
        <section>
            <div class="center767 homePageSectionPadding">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12 text-center md-add">
                        <img src="../assets/img/acharya_01.jpg" alt=""/>
                        <h2 class="ttu">Welcome!</h2>

                        <p class="p__mod">Welcome to Mana Vaikhanasam serving the needs of the our vaikhanasa community. As name reflects "Mana" meaning our, we are here to serve our own community for better tommorow.</p>
                        <!--<a href="#" class="btn btn-primary">Click here</a>-->
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12 border-add md-add">                        
                        <div class=''>
                            <h2 class="ttu">News !!!</h2>
                            <p class="ff__mod p__mod">
                                Kartheeka Vana Samaradhana, 2022 will be held on 20/Nov/2022 (Sunday) at Sri Vikhanasa Ashramam, Plotno.205, P&T colony, Kakatiya Hospital road, Medipally.
                            </p>
                            <img src="assets/news/invitations/KartheekaVanaSamaradhana2022/kvs_2022_01.jpg" width="600px" height="800px" />
                            <img src="assets/news/invitations/KartheekaVanaSamaradhana2022/kvs_2022_02.jpg" width="600px" height="800px" />
                            <img src="assets/news/invitations/KartheekaVanaSamaradhana2022/kvs_2022_03.jpg" width="600px" height="800px" />
                            <p class='homePageBottomBorder'></p>
                        </div>  
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>