<div class="main-content">
    <div class="container-fluid">
        <section>
            <marquee class='marqueBackColor' behavior="scroll" align="middle" direction="left" scrollamount=7 onmouseover="this.stop()" onmouseout="this.start()">
                <img class='marqueImage' src="../assets/img/common/star1.gif"/><a href="http://www.manavaikhanasam.com/#/news"> Kartheeka Vana Samaradhana 2022 on 20/Nov/2022 - Sri Vaikhanasa Maha Mandali, Hyderabad </a>
                <img class='marqueImage' src="../assets/img/common/star1.gif"/><a href="http://www.manavaikhanasam.com/#/purohitulu"> Vaikhanasa Purohits list </a>
                <img class='marqueImage' src="../assets/img/common/star1.gif"/><a href="http://www.manavaikhanasam.com/#/documents"> English version of the matrimony application available for download</a>
                <img class='marqueImage' src="../assets/img/common/phone_book_edit.png"><a href="http://www.manavaikhanasam.com/#/directory">Online Vaikhanasa Directory</a>
                <img class='marqueImage' src="../assets/img/common/star1.gif"/><a href="http://www.manavaikhanasam.com/#/hydAshramamDonors">Hyderabad Vaikhanasa Ashramam Donors List</a> 
                <img class='marqueImage' src="../assets/img/common/star1.gif"/>
            </marquee>
        </section>
        <section>
            <div class="center767 homePageSectionPadding">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12 text-center md-add">
                        <img src="../assets/img/acharya_01.jpg" alt=""/>
                        <h2 class="ttu">Welcome!</h2>

                        <p class="p__mod">Welcome to Mana Vaikhanasam serving the needs of the our vaikhanasa community. As name reflects "Mana" meaning our, we are here to serve our own community for better tommorow.</p>
                        <!--<a href="#" class="btn btn-primary">Click here</a>-->
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12 border-add md-add">                        
                        <!-- <marquee class='' behavior="scroll" direction="up" scrollamount=5 onmouseover="this.stop()" onmouseout="this.start()">
                            <h2 class="ttu">News !!!</h2>
                            <p class="ff__mod p__mod">
                                9th Vaikhanasa Vivaha Paricheya Vedika will be held on 20/Oct/2019 (Sunday) at Sri Vikhanasa Ashramam, Plotno.205, P&T colony, Kakatiya Hospital road, Medipally.
                            </p>
                            <p class='homePageBottomBorder'></p>
                            <p class="ff__mod p__mod">
                                ప్రియ వైఖానస బంధువులకు విజ్ఞప్తి , 
                                <br/>
                                కరీంనగర్ లో యజ్ఞవరాహ స్వామి వారి దేవాలయానికి వైఖానస అర్చకులు కావలెను.
                                16,000 జీతం, నివాసానికి ఆలయప్రాంగణంలో మంచి సౌకర్యములుతో చక్కని ఇల్లు ఇవ్వబడును.
                                <br/>
                                ఈ దేవాలయానికి మంచి ట్రస్ట్ ఏర్పాటు అయింది. వైఖానస అర్చకులు ఎవరైనా శ్రద్ధతో మనసు పెట్టి కష్టపడితే మంచి ఆదాయంతోపాటు మంచి పరిచయాలు దక్కుతాయి. 
                                <br/>
                                వంటస్వామి ఉన్నారు ప్రసాదాలకు ఇబ్బంది లేదు.
                                <br/>
                                మీలో ఎవరైనా చేరదలస్తే ఈ నెంబర్ కి 9959277577 ఫోన్ చెయ్యగలరు -పేరు శ్రీభాష్యం వరప్రసాద్
                                <br/>
                                www.facebook.com/YagnaVaraha
                            </p>
                            <p class='homePageBottomBorder'></p>
                            <p class="ff__mod p__mod">
                                Updated till date received user images under Sri Vaikhanasa Directory <a href="directory.html">Vaikhanasa Directory</a> 
                                <br/>Dear Vaikhanasa can always send me their user images at seshu.manavaikhanasam@gmail.com with their Complete name as mentioned in Directory. 

                                New User can send all the required details along with their image now.
                            </p>                                                        
                            <p class='homePageBottomBorder'></p> 
                        </marquee>-->
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>