<div class="main-content">
    <div class="container-fluid">
        <section class="well5">
            <div class="container">
                <h2 class="ttu">Our Videos </h2>

                <div class="row offs">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <video width="320" height="240" controls>
                            <source src="assets/videos/Sri Vaikhanasam.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>   
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <video width="320" height="240" controls>
                            <source src="assets/videos/Sri Vikhanasa Sthotra Patham.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        
                    </div>
                </div>
            </div>
        </section>      
    </div>
  </div>  