<div class="main-content">
    <div class="container-fluid">
        <section class="well7">
            <div class="container containerWidth95">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h2 style="text-align: center;">
                            <img class="pageLogoSize" border="0" src="assets/img/common/flower.png"> Stotramulu <img class="pageLogoSize" border="0" src="assets/img/common/flower.png">
                        </h2>
                        <br/>                       
                    </div>
                </div>
                <div class="row textCenter">
                    <b>Work in progress ... Coming Soon</b>
                </div>
                <br/>
                <div>
                    <img class="imageCenter" src="assets/img/comingsoon.jpg" />
                </div>
            </div>
        </section>           
    </div>
  </div>
