<div class="main-content">
  <div class="container-fluid">
      <div>
        Settings page Settings page Settings page Settings page Settings page
      Settings page Settings page Settings page Settings page Settings page
      Settings page Settings page Settings page Settings page Settings page
      Settings page Settings page Settings page Settings page Settings page
      Settings page Settings page Settings page Settings page Settings page
      Settings page Settings page Settings page Settings page Settings page
      Settings page Settings page Settings page Settings page Settings page
      Settings page Settings page Settings page Settings page Settings page
      Settings page Settings page Settings page Settings page Settings page
      Settings page Settings page Settings page Settings page Settings page
      </div>
  </div>
</div>